.spark
{
	max-height: 200px;
	width:100%;
    padding: 20px;
}


.tag-disabled {
    padding: 2px;
    background: transparent;
    border:none;
}

/* .min-h-500
{
    min-height: 500px;
} */

#notification{
	height:40px;
	width:100%;
}
#notification .alert {
	display:block;
	margin:0;
	height:40px;
} 

.jumbotron {
	text-align: center;
	width: 30rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 4rem auto;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 2rem;
	height: 45rem;
}

.container .glyphicon-list-alt {
	font-size: 10rem;
	margin-top: 3rem;
	color: #f96145;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #ababab;
}
.btn {
	border-radius: 0.2rem;
}
.btn .glyphicon {
	font-size: 3rem;
	color: #fff;
}
.box .full-width {
	background-image: none;
	background-color: rgba(107,255,69, 0.5) !important;
	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}


/** Side bar **/



